body{
    background-color: #ffccff;
}
h1 h2{
    color:  #1a001a;
    font-weight: bolder;
    text-align: center;
}
p{
    color: #4d0026;
    font-family: Helvetica;
    font-weight: bolder;
    text-align: center;
    
}

 li{
    text-align: center;
    font-weight: bolder;
    color: #290216;
}

ol{
    text-align: center;
    font-weight: bolder;
    color: #290216;
}
ul{
    text-align: center;
    font-weight: bolder;
    color: #290216;
}